header{
    background-color: rgb(251, 223, 13);
    height: 100px;
    width: 100%;
    position: fixed;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    display: inline;
}


body{
    background-color:black;

}

.meny {
    background-color: gray;
    width: 130px;
    text-align: center;
    border: 2px solid orange;
    display: block;
    overflow: hidden;
    margin-left: -10px;
    padding-top: 150px;
}

a:visited{
    text-decoration-color: whitesmoke;
}



footer{
    height: 50px;
    padding-top: 10px;
    padding-bottom: -10px;
    position: relative;

   background-color: rgb(251, 223, 13);
   
}

#OMLogo {
    width: 100px;
    margin: 10px;
}

.sidebarIcons {
    width: 75px;
    display: block;
    margin: 0px 0px 75px 25px ; /* top right bottom left */
    transition: 0.2s;
}

.sidebarIcons:hover {
    width: 100px;
    display: block;
    margin: -10px 0px 60px 15px;
    border-radius: 10px;
    background-color: rgba(20, 20, 256, 0.1);
}

.headline {
    display: inline;
    padding: 0;
    margin: 0;
    margin-left: 10%;
    font-weight: 900;
    font-size: 75px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;

}