header{
    background-color: rgb(251, 223, 13);
    position: relative;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px}


body{
    background-color:black;

}

.meny {
    background-color: gray;
    width: 10%;
    height: 100%;
    text-align: center;
    border: 2px solid orange;
    display: block;
    overflow: hidden;
    margin-left: -10px;
}

a:visited{
    text-decoration-color: whitesmoke;
}



footer{

    padding-top: 10px;
    padding-bottom: -10px;
    position: relative;

   background-color: rgb(251, 223, 13);
   
}

#OMLogo {
    width: 100px;
    margin: 10px;
}

.sidebarIcons {
    width: 75px;
    display: block;
    margin: 75px 0px 75px 50px ; /* top right bottom left */
    transition: 0.2s;
}

.sidebarIcons:hover {
    width: 100px;
    display: block;
    margin: 50px 0px 50px 30px;
    background-color: rgba(20, 20, 256, 0.1);
}