header{
    background-color: rgb(251, 223, 13);
    position: relative;
    margin-top:-10px;
    margin-left: -10px;
    margin-right: -10px}


body{
    background-color: red;

}

.meny > nav > li {
    color: whitesmoke;
    font-size: 2    rem;
    text-decoration: none;
    
}




footer{

   background-color: rgb(251, 223, 13);
   
}

#OMLogo {
    width: 10px;
    margin: 10px;
}