header{
    background-color: rgb(251, 223, 13);
    position: relative;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px}


body{
    background-color:black;

}

.meny > nav > ul {
    color: whitesmoke;
    font-size: 2rem;
    text-decoration: none;
    list-style-type: none;
    text-decoration-color: whitesmoke;
}




footer{

    padding-top: 10px;
    padding-bottom: -10px;

   background-color: rgb(251, 223, 13);
   
}

#OMLogo {
    width: 100px;
    margin: 10px;
}