header{
    background-color: rgb(251, 223, 13);
    position: relative;
    margin-top:-10px;
    margin-left: -10px;
    margin-right: -10px}


body{
    background-color: white;

}

.meny > nav > lu {
    
}




footer{

   background-color: rgb(251, 223, 13;
   padding-top: -10px;

}

#OMLogo {
    width: 100px;
    margin: 10px;
}