header{
    background-color: rgb(251, 223, 13);
    position: relative;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px}


body{
    background-color:black;

}

.meny > nav > ul {
    color: rgb(251, 223, 13);
    width: 10%;
    text-align: center;
    border: 10px solid orange;
    display: inline;
    overflow: hidden;
}
a:visited{
    text-decoration-color: whitesmoke;
}



footer{

    padding-top: 10px;
    padding-bottom: -10px;
    position: relative;

   background-color: rgb(251, 223, 13);
   
}

#OMLogo {
    width: 100px;
    margin: 10px;
}

.sidebarIcons {
    width: 100px;
    display: block;
    margin: 20px;
    margin-bottom: 75px;
}