header{
    background-color: rgb(251, 223, 13);
    position: relative;
    margin-top:-10px;
    margin-left: -10px;
    margin-right: -10px}


body{
    background-color: white;

}

.meny > nav > li {
    color: whitesmoke;
    font-size: 2rem;
}




footer{

   background-color: rgb(251, 223, 13;
   
}

#OMLogo {
    width: 100px;
    margin: 10px;
}